log4j:configuration(xmlns:log4j="http://jakarta.apache.org/log4j/")
  appender(name="log" class="org.apache.log4j.FileAppender")
    param(name="Threshold" value="INFO")
    param(name="append" value="false")
    param(name="file" value="#{dirReport}/benchmark-#{metric}-#{dataset}.log")
    layout(class="org.apache.log4j.PatternLayout")
      param(name="ConversionPattern" value="[%-5p %d{HH:mm:ss.SSS}] %m%n")
  appender(name="stat" class="org.apache.log4j.FileAppender")
    param(name="append" value="false")
    param(name="file" value="#{dirReport}/benchmark-#{metric}-#{dataset}.txt")
    layout(class="org.apache.log4j.PatternLayout")
      param(name="ConversionPattern" value="%m%n")
    filter(class="org.apache.log4j.varia.LevelMatchFilter")
      param(name="LevelToMatch" value="#{logLevel}#com.clarabridge.fx.log.StatLevel")
      param(name="AcceptOnMatch" value="true")
    filter(class="org.apache.log4j.varia.DenyAllFilter")
  logger(name="com.clarabridge.fx.Processor")
    level(value="#{logLevel}#com.clarabridge.fx.log.StatLevel")
    appender-ref(ref="stat")
  root
    level(value ="INFO")
    appender-ref(ref="log")
